$navbar-hight: 220px;
$navbar-show-bg: rgba($gray-200, .9);

/* ＊**************************
 * 外層 空間位置
*/
.navbar {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
  max-height: $navbar-hight;

  &.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-bottom: 0;
  }

  .navbar-header,
  .navbar-footer {
    display: flex;
    align-items: center;
  }

  .navbar-header {
    margin-bottom: $spacer * 1.5;
  }

  .navbar-icon,
  .navbar-logo,
  .navbar-car,
  .navbar-text,
  .navbar-search,
  .navbar-nav,
    {
    flex: 1;
    display: flex;
  }
}

// 固定在頂部 main 要往下推navbar-hight
.has-navbar-fixed-top {
  padding-top: $navbar-hight;
}

@media (max-width: 991px) {
  .has-navbar-fixed-top {
    padding-top: $navbar-hight;
  }
  .navbar {
    padding-right: $spacer * 2;
    padding-left: $spacer * 2;

    .navbar-icon {
      display: none;
    }

    .navbar-text,
    .navbar-search,
    .navbar-nav {
      display: none;
    }
  }
}

/* ＊**************************
 * 內層 空間位置
*/
.navbar-mobil-btn {
  display: none;
}

.navbar-icon-link {
  margin-right: $spacer * .5;
}

.navbar-logo,
.navbar-nav {
  justify-content: center;
}

.navbar-text, .navbar-car {
  justify-content: flex-end;
}


@media (max-width: 991px) {
  // navbar show
  .navbar {
    &.show {
      // display: flex;  
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      max-height: 100%;
      background-color: $navbar-show-bg;

      .navbar-footer {
        display: flex;
        flex-direction: column-reverse;

        .navbar-nav {
          display: flex;
          order: 1;
          flex-direction: column-reverse;
        }

        .navbar-text,
        .navbar-search,{
          display: block;
          width: 100%;
        }
      }
    }
  }

  // 主按鈕
  .navbar-mobil-btn {
    flex: 1;
    justify-content: flex-start;
    display: block;

    span {
      display: block;
      height: 2px;
      width: 30px;
      background-color: $gray-900;
      margin-top: 6px;
      margin-bottom: 6px;
      transition: all .3s ease-in-out;
    }

    // 打開樣式
    &.open {
      span:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: 13%;
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 13%;
      }
    }
  }


}

/* ＊**************************
 * 樣式
*/

.navbar {
  background: $white;
}

.navbar-logo img {
  width: 110px;
}

.navbar-text-link,
.navbar-nav-link {
  text-decoration: none;
  color: $gray-900;
  transition: all .2s ease-in-out;

  margin-left: $spacer;
  margin-right: $spacer;

  @include hover-focus {
    text-decoration: none;
    color: $danger;
  }
}

.navbar-search {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 1.5px;
    background-color: $gray-900;
  }

  img {
    margin-bottom: $spacer * .5;
  }
}

@media (max-width: 991px) {

  // logo
  .navbar-logo img {
    width: 80px;
  }

  .navbar-footer {

    .navbar-nav-link,
    .navbar-text,
      {
      font-size: $font-size-lg;
      padding-top: $spacer;
      padding-bottom: $spacer;
    }

    .navbar-search {
      &::before {
        width: 100%;
      }
    }
  }
}